<h1>Bienvenidos</h1>

<div class="products__containter">
    {{#each products}}
        <div class="card">
            <h2>{{title}}</h2>
            <p>Descripción: {{description}} </p>
            <p>Precio: <strong>{{price}}</strong> </p>
            <p>Categoria: {{category}} </p>
            <button class="btn"> Agregar al Carrito </button>
        </div>
    {{/each}}
</div>

{{#if hasNextPage}}
<a href="/profile?page={{nextPage}}"> Siguiente </a>
{{/if}}
{{#if hasPrevPage}}
<a href="/profile?page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>