<div class="bienvenidaTienda">
    <h1 class="text-center">Bienvenidos a la tienda</h1>
    <a href="/carts/{{cartId}}" class="carritodecompras"> 
        <i class="bi bi-cart-check-fill"></i>
    </a>

</div>

<div class="products__containter">
    {{#each products}}
    <div class="card">
        <h3>{{title}}</h3>
        <img src="{{thumbnails}}" alt="">
        <p class="card-p">Descripción: {{description}} </p>
        <p class="card-p">Precio: <strong>{{price}}</strong> </p>
        <p class="card-p">Categoria: {{category}} </p>
        <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
            <button class="btn" type="submit">Agregar al Carrito</button>
        </form>
    </div>
    {{/each}}
</div>
<div class="container__login">
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}" class="btnNextPrevius"> Siguiente </a>
    {{/if}}
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}" class="btnNextPrevius"> Anterior </a>
    {{/if}}
    <p class="paragrap">Pagina {{currentPage}} de {{totalPages}} </p>
</div>

<footer>
    <ul class="footer__redes">
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
    </ul>
    </div>
    {{!-- <a
        href="https://firebasestorage.googleapis.com/v0/b/proyecto-react-6bd56.appspot.com/o/ojos-transformed.jpeg?alt=media&token=bade8179-7c2c-446d-858a-b09377773c11">
        <img class="logoFooter" src="./img/salvautos.jpg" alt="logo" loading="lazy"></a> --}}
    <a href="/"><img
            src="https://firebasestorage.googleapis.com/v0/b/proyecto-react-6bd56.appspot.com/o/ojos-transformed.jpeg?alt=media&token=bade8179-7c2c-446d-858a-b09377773c11"
            alt="ojos de fuego" class="img"></a>
    <address>
        <ul class="footer_contactos">
            <li><a href="">Carrito de compras</a></li>
            <li><a href="">Hablar con un asesor</a></li>
            <li><a href="">Dejarnos un mensaje</a></li>

        </ul>
    </address>
</footer>