{{!-- <h1> Productos </h1>
{{#each products}}
<div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Price: ${{price}}</p>
    <p>Category: {{category}} </p>
    <button> Agregar al Carrito </button>
</div>
{{/each}}


{{#if hasNextPage}}
<a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}
{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p> --}}
<h1>Bienvenidos a la tienda</h1>

<div class="products__containter">
    {{#each products}}
    <div class="card">
        <h2>{{title}}</h2>
        <img src="{{thumbnails}}" alt="">
        <p>Descripción: {{description}} </p>
        <p>Precio: <strong>{{price}}</strong> </p>
        <p>Categoria: {{category}} </p>
        <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
            <button class="btn" type="submit">Agregar al Carrito</button>
        </form>
    </div>
    {{/each}}
</div>
<div class="container__login">
{{#if hasNextPage}}
<a href="/products?page={{nextPage}}" class="btnNextPrevius"> Siguiente </a>
{{/if}}
{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}" class="btnNextPrevius"> Anterior </a>
{{/if}}
<p class="paragrap">Pagina {{currentPage}} de {{totalPages}} </p>
</div>