<div class="profile-card">
    <div class="profile-info">
        <div class="profile-name">{{user.name}} {{user.lastName}}</div>
        <div class="profile-role">{{user.email}}</div>
        <div class="profile-role">{{user.role}}</div>
    </div>

    {{#eq user.role 'admin'}}
    <a href="/api/users/admin" class="btn">admin</a>
    <a href="/api/users/logout" class="btn">Logout</a>
    {{else}}
    {{#eq user.role 'user'}}
    <a href="/chat" class="btn">Chat</a>
    <a href="/products" class="btn">Tienda</a>
    <a href="/api/users/logout" class="btn">Logout</a>
    {{else}}
    {{#eq user.role 'premium'}}
    <a href="/realtimeproducts" class="btn">panel Premium</a>
    <a href="/chat" class="btn">Chat</a>
    <a href="/products" class="btn">Tienda</a>
    <a href="/api/users/logout" class="btn">Logout</a>
    {{else}}
    <p>Porfavor loguearse</p>
    {{/eq}}
    {{/eq}}
    {{/eq}}

</div>