<div class="profile-card">
    <div class="profile-info">
        <div class="profile-name">{{user.nombre}} {{user.apellido}}</div>
        <div class="profile-role">{{user.correo}}</div>
        <div class="profile-role">{{user.role}}</div>
    </div>
    {{#if isAdmin}}
        <a href="/admin" class="btn">admin</a>
        <a href="/api/users/logout" class="btn">Logout</a>
        {{else}}
        <a href="/chat" class="btn">Chat</a>
        <a href="/products" class="btn">Tienda</a>
        <a href="/api/users/logout" class="btn">Logout</a>
        {{/if}}
</div>