<div class="container__perfil">
    <h1>Mi Perfil</h1>
    <h2>Bienvenido!!</h2>
    <p>Nombre: {{user.first_name}} {{user.last_name}} </p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>usuario: {{user.role}}</p> 
    
    {{#if isAdmin}}
    <a href="/admin" class="btn">admin</a>
    <a href="/api/users/logout" class="btn">Logout</a>
    {{else}}
    <a href="/chat" class="btn">Chat</a>
    <a href="/products" class="btn">Tienda</a>
    <a href="/api/users/logout" class="btn">Logout</a>
    {{/if}}
</div>




